html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sider{
    background: #eef3fc;
    width: 320px;
    height: 100vh;
    position: relative;
}

.header, .content {
    background: #f7faff;
    text-align: left;
    padding: 10px 30px;
}

.header {
    line-height: normal;
}

.header .title {
    margin-top: 10px;
    font-size: 20px;
    color: #41444b;
    font-weight: 700;
}

.header .time {
    color: #9ca0b0;
}