.todo {
    margin: 10px -20px;
    padding: 30px 16px 0;
    background: #f0f4ff;
    height: 100%;
}

.todo .list {
    border-radius: 12px;
}

.todo .list > div {

    padding: 10px;
}

.todo .list .todoItem {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 8px;
    background: #fff;
}

.todo .list .todoItem.TodoAddItem {
    
}

.todoItem .todoCheck {
    flex: 1;
    line-height: 28px;
}

.todoItem .todoCheck.done {
    text-decoration: line-through;
    color: #8b8e9f;
}

.deleteBtn {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    background: #ebf1fb;
    color: #FF6A52;
    margin-left: 12px;
}

.addBtn {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    background: #ebf1fb;
    color: #FF6A52;
    margin-left: 12px;
}